body {
    background-color: #2228056d;
    background-image:
        radial-gradient(at 0% 0%, rgb(23, 40, 9) 0, transparent 50%),
        radial-gradient(at 50% 0%, rgb(24, 28, 43) 0, transparent 50%),
        radial-gradient(at 100% 0%, rgb(33, 13, 20) 0, transparent 50%);
}

.gradient-bg-services {
    background-color: #0f0e13;
    background-image:
        radial-gradient(at 0% 0%, hsla(253, 16%, 7%, 1) 0, transparent 50%),
        radial-gradient(at 50% 100%, hsla(225, 39%, 25%, 1) 0, transparent 50%);
}
@tailwind base;
@tailwind components;
@tailwind utilities;
